
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E-Kind</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password], input[type=number] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
.center{
  margin: auto;
  width: 300px;
  padding: 10px;
}
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="../login">E-Kind<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#login" class="get-started-btn scrollto">Login</a>
      <a href="#signin" class="get-started-btn scrollto">User Register</a>
      <a href="#signinvol" class="get-started-btn scrollto">Volunteer Register</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>E-Kind<span>.</span></h1>
          <h2>Charity  Web application</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/assets/img/charity.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>ABOUT E-Kind.</h3>
            <p class="fst-italic">
              Organizations that are primarily involved in political campaigns or lobbying do not qualify as charities for tax purposes, but trusts for them may be considered charitable. In addition to tax-exempt status, charities have also generally been granted immunity from tort suits.
            </p>
            <p>
              Organizations that are primarily involved in political campaigns or lobbying do not qualify as charities for tax purposes, but trusts for them may be considered charitable. In addition to tax-exempt status, charities have also generally been granted immunity from tort suits.
            </p>
            <p>
              Organizations that are primarily involved in political campaigns or lobbying do not qualify as charities for tax purposes, but trusts for them may be considered charitable. In addition to tax-exempt status, charities have also generally been granted immunity from tort suits.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i><b>OUR MISSION</b> .<p>There are often arguments over creating vision and mission statements.  This resource gives you a simple template to write your charity mission and vision statements quickly and simply, explains vision v mission and gives you some examples. </p></li>
              <li><i class="ri-check-double-line"></i><b>OBJECTIVES</b>. <p>First, think about what organisational values matter to your Board, staff and other stakeholders and what difference you would have made, if you achieved your mission.</p>
                                                                        <p> There is no ‘correct way’ to develop a vision, but the following advice may be helpful.</p>
                                                                        <p>First, think about what organisational values matter to your Board, staff and other stakeholders and what difference you would have made, if you achieved your mission.</p>
                                                                        <p>There are often arguments over creating vision and mission statements.  This resource gives you a simple template to write your charity mission and vision statements quickly and simply, explains vision v mission and gives you some examples. </p>
                                                                        <p>First, think about what organisational values matter to your Board, staff and other stakeholders and what difference you would have made, if you achieved your mission.</p>
                                                                        <p>There is no ‘correct way’ to develop a vision, but the following advice may be helpful.</p>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">

    <section id="login">
      <form action="../login" method="post">
        {% csrf_token %}
        <h2 class="text-info center"><b>Login Form</b></h2>
        <div class="center">
          <table>
          <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Username :</b></label></tr>
          <tr><input type="text" placeholder="Enter Username" name="userid" required></tr>

          <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Password :</b></label></tr>
          <tr><input type="password" placeholder="Enter Password" name="password" required></tr>

          <tr><button type="submit" class="btn btn-info" style="color:white;">Login</button></tr>
          </table>
        </div>
      </form>
    </section>
  <section id="signin">
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
<div>
  <form action="signup" method="post">
      {% csrf_token %}
    <h2 class="text-info center"><b>User Signin Form</b></h2>
  <div class="center">
    <table>
      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Username :</b></label></tr>
      <tr><input type="text" id="name" name="name" placeholder="Enter Username" required></tr>


      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Address :</b></label></tr>
      <tr><input type="text" id="address" name="address" placeholder="Address" required></tr>


      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Contact Number :</b></label></tr>
      <tr><input type="text" id="phone" name="phone" placeholder="Phone Number" pattern="[6-9]{1}[0-9]{9}" required ></tr>

       <label class="text-info" style="float:left; padding-left:15px;" for="email"><b>Email:</b></label>
       <input type="email" id="email" name="email"  placeholder="Email" size="26" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Password :</b></label></tr>
      <tr><input type="password" id="password" name="password" placeholder="password" required></tr>

      <tr><button type="submit" class="btn btn-info" style="color:white;">Signin</button></tr>
    </table>
  </div>
  </form>

</div>
</div>
</section>
  <section id="signinvol">
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
<div>
  <form action="signupvol" method="post">
      {% csrf_token %}
    <h2 class="text-info center"><b>Volunteer Signin Form</b></h2>
  <div class="center">
    <table>
      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Username :</b></label></tr>
      <tr><input type="text"  name="name" placeholder="Enter Username" required></tr>

      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Charity Name :</b></label></tr>
      <tr><input type="text"  name="cname" placeholder="Enter Charity name" required></tr>

      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Address :</b></label></tr>
      <tr><input type="text"  name="address" placeholder="Address" required></tr>


      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Contact Number :</b></label></tr>
      <tr><input type="text" name="phone" placeholder="Phone Number" pattern="[6-9]{1}[0-9]{9}" required></tr>


      <label class="text-info" style="float:left; padding-left:15px;" for="email"><b>Email:</b></label>

       <input type="email" name="email"  placeholder="Email" size="26" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>


      <tr><label  class="text-info" style="float:left; padding-left:15px;"><b>Password :</b></label></tr>
      <tr><input type="password"  name="psw" placeholder="password" required></tr>

      <tr><button type="submit" class="btn btn-info" style="color:white;">Signin</button></tr>
    </table>
  </div>
  </form>

</div>
</div>
</section>

</div>

    <!-- ======= Clients Section ======= -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>CHARITY AIMS</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  In the 60s and 70s it won many accolades for the pioneering achievements in the implementation of Universal Rationing System.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>CHARITY AIMS</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It communicates your purpose, so should be action focused, succinct and emotionally engaging. And, it's also the framework within which to create your strategy. Your mission is what you're going to do and your strategy is your plan for how you will do that.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>CHARITY AIMS</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It communicates your purpose, so should be action focused, succinct and emotionally engaging. And, it's also the framework within which to create your strategy. Your mission is what you're going to do and your strategy is your plan for how you will do that.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

<!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" >
      <div class="container" style="width:70%; text-align:center;">
        <div class="row container" >

          <div class="col-xl-8 container">
            <div class="footer-info container">
              <h3>CHARITY<span>.</span></h3>
              <p>
                E-Kind WEB APPLICATION<br>
                c s<br><br>
                <strong>Phone:</strong> +0 0000 00000 00<br>
                <strong>Email:</strong> charitydonation.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>